@import "tailwindcss";

@theme {
  --color-night-dark1: #1a1b26;
  --color-night-dark2: #16161e;
  --color-night-dark3: #0C0E14;

  --color-day-light1: #f3f1eb;
  --color-day-light2: #e9e9e1;
  --color-day-light3: #e5e4d9;
}

html,
body {
  @apply bg-day-light1 dark:bg-night-dark1 font-mono;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
